#box1{
    width:200px;
    height:200px;
    background-color: blueviolet;
    border-radius: 50%;
    
}
#box2{
    width:200px;
    height:200px;
    background-color: blue;
    border-radius:50%;
    display:;
}   